	
<div class = "row">
	<div class = "col-lg-2"></div>
	
	<div class = 'col-lg-8'>
		<div class = 'jumbotron'>
			<h1>Todos List</h1>
			<table class = "table">
				<thead>
					<tr>
						<th>Title<th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "todo in todos track by $index" class = "row">
						<td class = 'col-lg-6'>{{todo.title}}</td>
						<td class = 'col-lg-6'>
							<a class = 'btn btn-success' data-toggle = "modal" ng-click = 'editTodo(todo)'>Edit</a>
							<a class = 'btn btn-warning'>Delete</a>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class = "col-lg-2"></div>

	<div bs-modal ed-todo= "editedTodo" success-flag='updateSuccess' update-callback = "updateTodo(editedTodo)"  id = "todoEditModal"  class="modal fade" role="dialog">
		
	</div>
</div>





